@model Pap2020.Models.Utilizador

@{
    ViewBag.Title = "Delete";
}

<p></p>

<h3>Tem a certeza que pretender eliminar permanentemente esta conta?</h3>
<div>
   
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nome_utilizador)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nome_utilizador)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email_utilizador)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email_utilizador)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.telefone_utilizador)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telefone_utilizador)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nr_processo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nr_processo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tipo_Utilizador.nome_tipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tipo_Utilizador.nome_tipo)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
