<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Index Utilizadores</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <p></p>
    <!-- Sidebar -->
    <section id="sidebar">
        <div class="inner">
            <nav>
                <ul>
                    @{
                        if (Session["username"] == null)
                        {
                            @Html.ActionLink("Login", "Login", "Utilizadors")
                            @Html.ActionLink("Register", "Register", "Utilizadors") // Falta adicionar no controller
                        }
                        else
                        {
                            <li class="navbar-text">@Html.Label("User: ")@Session["username"]</li>
                            @Html.ActionLink("Relatorios", "Index","Relatorios")
                            @Html.ActionLink("Faltas", "Index", "Faltas");
                            @Html.ActionLink("Conta","Details","Utilizadors")
                            @Html.ActionLink("Logout", "Logout","Utilizadors")

                        }
                    }

                </ul>
            </nav>
        </div>
    </section>
    <!-- Wrapper -->
    <div id="wrapper">

        <!-- Intro -->
     
            @RenderBody()
            <hr />
        <p></p>
        <p></p>
        <p></p>
            <footer>
                <p>&copy; @DateTime.Now.Year - PAP2020</p>
        </footer>
      
       
    </div>
       
       
           
            

            @Scripts.Render("~/bundles/jquery")
            @Scripts.Render("~/bundles/HyperSpace")
            @RenderSection("scripts", required: false)
</body>
</html>
