@model IEnumerable<Pap2020.Models.Bloqueio>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.is_locked)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Relatorio.nome_empresa)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.is_locked)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Relatorio.nome_empresa)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.dia }) |
            @Html.ActionLink("Details", "Details", new { id=item.dia }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.dia })
        </td>
    </tr>
}

</table>
