@model IEnumerable<Pap2020.Models.Avaliação>

@{
    ViewBag.Title = "Avaliação";
}

<h2>Index</h2>

<p>
    @if (Convert.ToInt32(Session["Tipo"]) == 1)
    {
        @Html.ActionLink("Avaliar", "Create")
    }
    @if (Convert.ToInt32(Session["Tipo"]) == 2)
    {
        @Html.ActionLink("Avaliar", "Create")
    }
    @if (Convert.ToInt32(Session["Tipo"]) == 3)
    {

    }
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.avaliacaomonitor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.avaliacaoprofessor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.avaliacaofinal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Relatorio.nome_empresa)
        </th>

        <th></th>
    </tr>

@foreach (var item in Model)
{
<tr>
    <td>
    @Html.DisplayFor(modelItem => item.avaliacaomonitor)
    </td>
    <td>
    @Html.DisplayFor(modelItem => item.avaliacaoprofessor)
    </td>
    <td>
    @Html.DisplayFor(modelItem => item.avaliacaofinal)
    </td>
    <td>
    @Html.DisplayFor(modelItem => item.Relatorio.nome_empresa)
    </td>
    

</tr>

}

</table>
