@model Pap2020.Models.Falta

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Falta</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Data)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Data)
        </dd>

        


        <dt>
            @Html.DisplayNameFor(model => model.Relatorio.nome_empresa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Relatorio.nome_empresa)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_falta }) |
    @Html.ActionLink("Back to List", "Index")
</p>
