@model IEnumerable<Pap2020.Models.Falta>

@{
    ViewBag.Title = "Index";
}

<h2>Faltas</h2>

<p>
    @if (Convert.ToInt32(Session["Tipo"]) == 1)
    {
        @Html.ActionLink("Marcar Falta", "Create")
    }
    @if (Convert.ToInt32(Session["Tipo"]) == 2)
    {
        @Html.ActionLink("Marcar Falta", "Create")
    }
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Data)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Relatorio.nome_empresa)
        </th>
        <th>

        </th>

        
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Data)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Relatorio.nome_empresa)
            </td>

   
            <td>
                @if (Convert.ToInt32(Session["Tipo"]) == 3)
                {
                    @Html.ActionLink("Detalhes", "Details", new { id = item.id_falta })
                    <br />
                }
                @if (Convert.ToInt32(Session["Tipo"]) == 2)
                {
                    @Html.ActionLink("Editar", "Edit", new { id = item.id_falta })
                    <br/>
                    @Html.ActionLink("Detalhes", "Details", new { id = item.id_falta })
                    <br/>
                    @Html.ActionLink("Apagar", "Delete", new { id = item.id_falta })
                }
                @if (Convert.ToInt32(Session["Tipo"]) == 1)
                {
                    @Html.ActionLink("Editar", "Edit", new { id = item.id_falta })
                    <br/>
                    @Html.ActionLink("Detalhes", "Details", new { id = item.id_falta })
                    <br />
                    @Html.ActionLink("Apagar ", "Delete", new { id = item.id_falta })
                }

            </td>
        </tr>
    }

</table>
